.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

.search{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    &__icon{
        width: 2rem;
        height: 2rem;
    }
    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        padding: .7rem 2rem;
        
        border: none;
        border-radius: 100px;
        background-color: var(--color-grey-light-2);
        width: 80%;
        margin-right: -3.5rem;
        transition: all .2s;
        &:focus{
            width: 90%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }
    &__button{
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus{
            outline: none;
        }
        &:active{
            transform: translateY(2px);
        }
    }
}
.user-nav{
    align-self: stretch;
    display: flex;
    align-items: center;
    & > *{
        height: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        &:hover{
            background-color: var(--color-grey-light-2);
        }
    }
    &__icon-box{
        position: relative;
    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }
    &__notification{
        font-size: .75rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary-dark);
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 1.3rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-photo{
        border-radius: 50%;
        height: 3.75rem;
        margin-right: 1rem;
    }
}